@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  color: var(--black);
}
h2 {
  font-size: 24px;
  color: var(--black);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

.container {
  display: flex;
  max-width: 1328px;
  margin: 40px auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li + li {
  margin-left: 40px;
}

.menu a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  transition: 200ms;
}

.menu a:hover {
  color: var(--green);
}

.menu a.highlight {
  color: var(--green);
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1328px;
  margin: 40px auto;
}

.sol {
  display: flex;
  flex-direction: column;
  min-width: 608px;
}
.anaparagraf {
  font-size: 24px;
  color: var(--green);
}
.anabutton {
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 219px;
  height: 64px;
  color: white;
  background-color: var(--green);
  margin-top: 24px;
}
.alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 895px;
  margin: 40px auto;
}
.alt >p{
  margin-top: 20px;
  font-size: 18px;
}
.kartlar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kart {
  background-color: #fff;
  margin: 0 auto;
  width: 427px;
  height: 340px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

.kart:hover{
  box-shadow: 0 0 5px 0 #0000002c;
}
.kart p{
  margin-top: 15px;
  font-size: 18px;
}
.kart h2{
  margin-top: 15px;
}